<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <td>#</td>
                <td>用户名</td>
                <td>密码</td>
                <td>姓名</td>
                <td>性别</td>
                <td>角色</td>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nickname }} </td>
                <td>{{ user.gender }}</td>
                <td>{{ user.role }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>